<h1>Book List </h1>

<%= link_to("New Book", new_admin_book_path, class: "btn btn-primary pull-right") %>
<table class="table table-boldered table-striped custab">
  <thead>
    <tr>
      <th>#</th>
      <th>书名</th>
      <th>所属人</th>
      <th>主人寄语</th>
      <th>库存</th>
      <th>操作选项</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to(book.name, admin_book_path(book)) %></td>
        <td><%= book.owner %></td>
        <td><%= book.description %></td>
        <td><%= book.quantity  %></td>
        <td>
          <%= link_to edit_admin_book_path(book), class: "btn btn-sm btn-info" do%><i class="fa fa-pencil"></i><% end %>
          <%= link_to admin_book_path(book), class: "btn btn-sm btn-danger",
                    method: :delete, data: { confirm: "Are you sure?" } do%><i class="fa fa-trash-o"></i><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
