<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 style="text-align:center"> 借书给我 </h2>
    </div>
  </div>
  <%= simple_form_for @book do |f| %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :name, label: '书名' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :owner, label: '您的名字（我们会记得您的）' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.association :category, label: '类别' %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :description, label: '主人寄语', maxlength: "100" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= f.button :submit, "完成" , class:"btn-primary btn-book-submit", data: { disable_with: "Submitting..." }%>
      </div>
    </div>
  <% end %>
</div>
